.adventure {
  color: var(--neutral-black);
}
.sectionTitle {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.sectionHeading1 {
  width: 408px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--h5-size);
  line-height: 24px;
  color: var(--text-gray-900);
}
.achievementsContent,
.sectionHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sectionHeading {
  align-self: stretch;
  overflow: hidden;
  gap: var(--gap-5xs);
}
.achievementsContent {
  width: 540px;
  padding: var(--padding-27xl) 0 0;
  box-sizing: border-box;
  min-width: 540px;
}
.icon,
.label,
.number {
  align-self: stretch;
  position: relative;
}
.icon {
  width: 48px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 60px;
}
.label,
.number {
  line-height: 36px;
}
.label {
  font-size: var(--h5-size);
  line-height: 24px;
  color: var(--neutral-grey);
}
.achievementItem,
.details {
  display: flex;
  justify-content: flex-start;
}
.details {
  width: 191px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}
.achievementItem {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  min-width: 166px;
}
.icon1 {
  height: 60px;
  width: 60px;
  position: relative;
  min-height: 60px;
  flex-shrink: 0;
}
.achievementItem1,
.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.achievementItem1 {
  width: 238.3px;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.row2 {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  padding: 0 var(--padding-25xl);
  gap: var(--gap-11xl);
}
.vectorIcon {
  position: absolute;
  height: 75%;
  width: 66.67%;
  top: 12.5%;
  right: 16.67%;
  bottom: 12.5%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon2,
.number2 {
  position: relative;
}
.icon2 {
  height: 60px;
  width: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.number2 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}
.div {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 166px;
}
.frameChild {
  height: 28.1px;
  width: 26.4px;
  position: relative;
}
.frameParent {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent,
.gridItemContent,
.row3 {
  display: flex;
  flex-direction: row;
}
.gridItemContent {
  height: 60px;
  width: 238.3px;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.row3 {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-25xl);
  gap: var(--gap-11xl);
}
.achievements,
.countItems,
.counts {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.countItems {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-22xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.achievements,
.counts {
  flex-direction: row;
}
.counts {
  width: 612px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  min-width: 612px;
  font-size: var(--heading-headline-3-size);
  color: var(--neutral-d-grey);
}
.achievements {
  margin-left: -12px;
  width: 1440px;
  background-color: var(--default-white);
  justify-content: center;
  padding: var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  row-gap: 20px;
  text-align: left;
  font-size: var(--heading-headline-2-size);
  color: var(--brand-primary);
  font-family: var(--body-regular-body-3);
}
@media screen and (max-width: 1125px) {
  .achievementsContent,
  .counts {
    flex: 1;
  }
  .achievements {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .sectionTitle {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .achievementsContent {
    min-width: 100%;
  }
  .row2,
  .row3 {
    flex-wrap: wrap;
    gap: var(--gap-mini);
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .counts {
    gap: var(--gap-xl);
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .number,
  .number2,
  .sectionTitle {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .number,
  .number2 {
    line-height: 29px;
  }
}
