.mscCruise1 {
  margin: 0;
  width: 171px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.mscCruiseWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.image93Icon,
.image94Icon {
  position: absolute;
  object-fit: cover;
}
.image93Icon {
  top: 55.2px;
  left: 678.5px;
  width: 417px;
  height: 81.6px;
  display: none;
}
.image94Icon {
  top: 49.6px;
  left: 252px;
  width: 282.8px;
  height: 40.1px;
}
.destination {
  height: 300px;
  width: 556.1px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/destination5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.destinationWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.pomeneInhacaIslands {
  margin: 0;
  width: 401.1px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.pomeneInhacaIslands,
.r27000 {
  text-transform: uppercase;
}
.node {
  white-space: pre-wrap;
}
.r37000Container {
  height: 43.9px;
  width: 118.9px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.pps {
  line-height: 17.1px;
}
.depositR5000,
.pps {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.ppsParent {
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  flex-shrink: 0;
  font-size: var(--font-size-2xl-1);
}
.price,
.r37000Parent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.r37000Parent {
  width: 239px;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-4xl);
  font-size: var(--font-size-21xl);
}
.price {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-62xl);
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-31xl);
  color: var(--brand-primary);
  font-family: var(--font-bebas-neue);
}
.travelDates1924 {
  width: 351.6px;
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.travelDates1924September2Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-53xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.packageIncludes {
  position: relative;
  line-height: 52px;
  font-weight: 500;
}
.bathIcon {
  height: 22.2px;
  width: 20px;
  position: relative;
}
.bath,
.bathWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bathWrapper {
  box-shadow: 4.7px 4.7px 4.14px rgba(0, 0, 0, 0.22);
  border-radius: 5.17px;
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  padding: var(--padding-3xs-7) var(--padding-6xs);
}
.bath {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.glassAndBottleOfWineIcon {
  height: 22.4px;
  width: 13.8px;
  position: relative;
}
.glassAndBottleOfWineWrapper {
  box-shadow: 4.7px 4.7px 4.14px rgba(0, 0, 0, 0.22);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs-6) var(--padding-3xs);
}
.frameChild {
  width: 14.9px;
  height: 9.6px;
  position: relative;
}
.wifiInner {
  box-shadow: 4.7px 4.7px 4.14px rgba(0, 0, 0, 0.22);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-3xs) var(--padding-lg)
    var(--padding-4xs);
}
.clocks1Icon {
  width: 18.9px;
  height: 13px;
  position: relative;
}
.clocks1Wrapper {
  box-shadow: 4.7px 4.7px 4.14px rgba(0, 0, 0, 0.22);
  border-radius: 5.17px;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-6xs) var(--padding-mini-6)
    var(--padding-5xs);
}
.gym {
  align-self: stretch;
  height: 20.3px;
  position: relative;
  line-height: 13.44px;
  display: inline-block;
  flex-shrink: 0;
}
.bathParent {
  width: 182px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-4xs-3);
  color: var(--color-lightslategray);
  font-family: var(--body-regular-body-3);
}
.frameParent,
.price1 {
  align-self: stretch;
  display: flex;
}
.price1 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-172xl);
  flex-shrink: 0;
  gap: var(--gap-xl);
  font-size: var(--font-size-mini);
  color: var(--color-steelblue-200);
  font-family: var(--h5);
}
.frameParent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
  font-size: var(--h5-size);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.baseIcon {
  height: 18px;
  width: 14.7px;
  position: relative;
  object-fit: cover;
}
.rdPartyIntegratio {
  height: 21.7px;
  position: relative;
  line-height: 14.48px;
  display: inline-block;
  backdrop-filter: blur(5.17px);
}
.baseGroup,
.baseParent,
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.baseGroup,
.frameDiv {
  gap: var(--gap-3xs);
}
.frameDiv {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-49xl) 0 0;
  gap: var(--gap-xl);
}
.rdPartyIntegratio2 {
  height: 21.7px;
  flex: 1;
  position: relative;
  line-height: 14.48px;
  display: inline-block;
  backdrop-filter: blur(5.17px);
}
.baseContainer {
  width: 193.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.rdPartyIntegratio3 {
  height: 40.9px;
  flex: 1;
  position: relative;
  line-height: 14.48px;
  display: inline-block;
  backdrop-filter: blur(5.17px);
}
.baseParent1 {
  width: 233.9px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-7xs-1) 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.baseParent1,
.frameContainer,
.frameParent1 {
  display: flex;
  align-items: center;
}
.frameParent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-7xs) 0 0;
  gap: var(--gap-xl);
}
.frameContainer {
  width: 540px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.frameItem,
.frameWrapper {
  align-self: stretch;
  max-width: 100%;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameItem {
  height: 38.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  cursor: pointer;
}
.frameWrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-3) 0 0;
}
.arrowG002Icon {
  height: 64.8px;
  width: 54.1px;
  position: relative;
  border-radius: 22.33px;
  object-fit: cover;
}
.frameGroup,
.frameParent2 {
  width: 195px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.frameGroup {
  width: 722px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.mozambiqueInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: var(--font-size-smi-9);
  color: var(--color-darkslategray-100);
}
.mozambique,
.mscCruise,
.navbarParent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.mozambique {
  width: 968px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-31xl);
  background-color: var(--color-ghostwhite);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-12xl-9);
  gap: var(--gap-5xl);
}
.mscCruise,
.navbarParent {
  align-self: stretch;
}
.mscCruise {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-42xl-2) var(--padding-xl);
  flex-shrink: 0;
  margin-top: -2px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--siah);
}
.navbarParent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
  text-align: center;
  font-size: var(--heading-headline-1-size);
  color: var(--brand-primary);
  font-family: var(--body-regular-body-3);
}
@media screen and (max-width: 1100px) {
  .price {
    flex-wrap: wrap;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
  }
  .mozambique,
  .price,
  .price1 {
    box-sizing: border-box;
  }
  .price1 {
    flex-wrap: wrap;
    padding-left: var(--padding-76xl);
    padding-right: var(--padding-76xl);
  }
  .mozambique {
    padding-top: var(--padding-42xl-2);
    padding-bottom: var(--padding-2xl);
  }
  .mscCruise {
    gap: var(--gap-19xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .pomeneInhacaIslands {
    font-size: var(--font-size-21xl);
  }
  .r37000Container {
    font-size: var(--font-size-13xl);
  }
  .frameDiv {
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .frameDiv,
  .frameParent1 {
    flex-wrap: wrap;
  }
  .mscCruise {
    gap: var(--gap-lgi);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mscCruise1 {
    font-size: var(--font-size-lgi);
  }
  .pomeneInhacaIslands {
    font-size: var(--font-size-11xl);
  }
  .r37000Container {
    font-size: var(--font-size-5xl);
  }
  .pps {
    line-height: 14px;
  }
  .depositR5000,
  .pps {
    font-size: var(--font-size-mid);
  }
  .travelDates1924September2Wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .mozambique,
  .price1 {
    box-sizing: border-box;
  }
  .price1 {
    padding-left: var(--padding-28xl);
    padding-right: var(--padding-28xl);
  }
  .mozambique {
    padding-bottom: var(--padding-xl);
  }
}
