.image92 {
  height: 49.6px;
  width: 71.9px;
  position: relative;
  display: none;
  z-index: 0;
}
.letNextcentDo {
  width: 672.5px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 24px);
  right: -518.5px;
  line-height: 47.71px;
  display: inline-block;
}
.label,
.logo {
  position: relative;
}
.logo {
  height: 84px;
  width: 154px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  background-image: url(/logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  white-space: nowrap;
}
.label {
  text-decoration: none;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 46px;
}
.headerMenuDefault {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.label1,
.label2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 71px;
}
.label2 {
  min-width: 74px;
}
.headingName,
.menuItemDefault1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.headingName {
  margin: 0;
  flex: 1;
  overflow: hidden;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--h5-size);
  color: var(--text-gray-900);
  font-family: var(--body-regular-body-3);
}
.headingNameWrapper,
.menuWrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.headingNameWrapper {
  align-self: stretch;
  flex-direction: row;
}
.menuWrapper {
  width: 291px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.signUp {
  text-decoration: none;
  width: 76px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 76px;
}
.button {
  border-radius: var(--br-7xs);
  background-color: var(--brand-primary);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  white-space: nowrap;
  cursor: pointer;
}
.button,
.login,
.navLinks,
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login {
  overflow: hidden;
  flex-direction: row;
}
.navLinks,
.navbar {
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  text-align: center;
  font-size: var(--body-regular-body-3-size);
}
.navbar {
  width: 1355px;
  background-color: var(--neutral-silver);
  overflow-x: auto;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-273xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--h5-size);
  color: var(--default-white);
  font-family: var(--body-regular-body-3);
}
@media screen and (max-width: 1250px) {
  .navbar {
    gap: var(--gap-127xl);
  }
}
@media screen and (max-width: 750px) {
  .navbar {
    gap: var(--gap-54xl);
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    gap: var(--gap-17xl);
  }
}
