.packages {
  margin: 0;
  width: 399.5px;
  position: relative;
  font-size: inherit;
  line-height: 76px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 112%;
}
.packagesText {
  width: 358px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  z-index: 2;
}
.bg,
.heroSection,
.packagesFront,
.packagesText {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.heroSection {
  flex: 1;
  background-color: var(--color-whitesmoke-300);
  justify-content: center;
  padding: var(--padding-82xl) var(--padding-xl) var(--padding-82xl)
    var(--padding-2xl);
  box-sizing: border-box;
}
.bg,
.packagesFront {
  justify-content: flex-start;
}
.bg {
  flex: 1;
  background-image: url(/bg4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.packagesFront {
  align-self: stretch;
  background-color: var(--default-white);
  flex-shrink: 0;
  z-index: 1;
  margin-top: -2px;
  text-align: center;
  font-size: var(--heading-headline-1-size);
  color: var(--brand-primary);
  font-family: var(--body-regular-body-3);
}
@media screen and (max-width: 750px) {
  .packages {
    font-size: var(--font-size-32xl);
    line-height: 61px;
  }
  .bg {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .packages {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .heroSection {
    gap: var(--gap-33xl);
  }
}
