.image92 {
  height: 49.6px;
  width: 71.9px;
  position: relative;
  display: none;
  z-index: 0;
}
.letNextcentDo {
  width: 672.5px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 24px);
  right: -518.5px;
  line-height: 47.71px;
  display: inline-block;
}
.label,
.logo {
  position: relative;
}
.logo {
  height: 84px;
  width: 154px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  background-image: url(/logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  white-space: nowrap;
}
.label {
  text-decoration: none;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 46px;
}
.headerMenuDefault {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.label1,
.label2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
}
.label1 {
  min-width: 71px;
  white-space: nowrap;
}
.label2 {
  min-width: 74px;
}
.headerMenuDefaultParent,
.navbarInner {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.headerMenuDefaultParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--h5-size);
  color: var(--text-gray-900);
  font-family: var(--body-regular-body-3);
}
.navbarInner {
  width: 291px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.signUp {
  text-decoration: none;
  width: 76px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 76px;
}
.button {
  border-radius: var(--br-7xs);
  background-color: var(--brand-primary);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  white-space: nowrap;
}
.button,
.login,
.loginWrapper,
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login {
  overflow: hidden;
  flex-direction: row;
  cursor: pointer;
}
.loginWrapper,
.navbar {
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  text-align: center;
  font-size: var(--body-regular-body-3-size);
}
.navbar {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-xl);
  gap: 335.5px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--h5-size);
  color: var(--default-white);
  font-family: var(--body-regular-body-3);
}
.navAndHero,
.navAndHeroWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.navAndHero {
  flex: 1;
  flex-direction: column;
  background-image: url(/nav-and-hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.navAndHeroWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
}
.sectionTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
}
.sectionTitleWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--h5-size);
  line-height: 24px;
  color: var(--neutral-grey);
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.packages {
  width: 1318px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-54xl);
  gap: 24px 48px;
  min-height: 940px;
}
.frameParent,
.packages,
.packagesWrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.packagesWrapper {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-38xl);
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 94px;
  gap: var(--gap-54xl);
  text-align: center;
  font-size: var(--heading-headline-2-size);
  color: var(--brand-primary);
  font-family: var(--body-regular-body-3);
}
.youShouldntMiss {
  color: var(--neutral-d-grey);
}
.sectionTitle1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 600;
  font-family: inherit;
}
.community {
  width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-10xl);
  box-sizing: border-box;
  max-width: 100%;
}
.mscCruise {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.destination {
  height: 353px;
  width: 217px;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-13xl) var(--padding-10xl);
  box-sizing: border-box;
  background-image: url(/destination11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: left;
}
.thailand {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 110px;
}
.destination1 {
  height: 353px;
  border-radius: var(--br-31xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-13xl) 53px;
  box-sizing: border-box;
  background-image: url(/destination2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.lesotho {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 97px;
}
.destination2,
.destination3 {
  height: 353px;
  border-radius: var(--br-31xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-13xl) var(--padding-41xl);
  box-sizing: border-box;
  background-image: url(/destination3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.destination3 {
  padding: var(--padding-13xl) var(--padding-5xl);
  background-image: url(/destination4@3x.png);
}
.destinationGrid {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-125xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--default-white);
  font-family: var(--font-poppins);
}
.destinationsYouShoudNotMis,
.destinationsYouShoudNotMisWrapper,
.whyChoose {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.destinationsYouShoudNotMis {
  flex: 1;
  background-color: var(--default-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-31xl) 0 var(--padding-78xl);
  gap: var(--gap-base);
}
.destinationsYouShoudNotMisWrapper,
.whyChoose {
  align-self: stretch;
  align-items: flex-start;
}
.destinationsYouShoudNotMisWrapper {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  margin-top: -28.5px;
}
.whyChoose {
  flex-direction: column;
  padding: 0 0 26.5px;
  text-align: center;
  font-size: var(--heading-headline-2-size);
  color: var(--neutral-grey-blue);
  font-family: var(--body-regular-body-3);
}
.sectionTitle2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.clients {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.clientImageIcon {
  height: 47.5px;
  width: 47.5px;
  position: relative;
  border-radius: 13.81px;
  object-fit: cover;
}
.thabisoMolefe {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.clientInfo,
.clientName {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.clientName {
  flex: 1;
  flex-direction: column;
  padding: 13.2px 0 0;
}
.clientInfo {
  width: 216px;
  flex-direction: row;
  gap: 9.2px;
}
.ratingsIcon {
  width: 80.1px;
  height: 10.9px;
  position: relative;
}
.theScholarshipService {
  width: 225.8px;
  position: relative;
  font-size: 9px;
  line-height: 13.81px;
  font-family: var(--body-regular-body-3);
  color: var(--color-dimgray-100);
  display: inline-block;
}
.client1,
.testimonial {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.client1 {
  align-self: stretch;
  box-shadow: -2.8px 4.8px 20.72px rgba(167, 177, 195, 0.15);
  border-radius: 16.58px;
  background-color: var(--color-gray-100);
  padding: 13.8px var(--padding-lg) 14.2px;
  gap: var(--gap-3xs-9);
}
.testimonial {
  width: 276.3px;
  padding: var(--padding-6xs-6) var(--padding-4xs) 0 0;
  box-sizing: border-box;
  font-size: 13.8px;
}
.imgIcon {
  height: 46.8px;
  width: 46.8px;
  position: relative;
  border-radius: 36.59px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.jamelaShingange {
  margin: 0;
}
.thabisoMolefe1 {
  align-self: stretch;
  position: relative;
  line-height: 19.02px;
  font-weight: 600;
}
.clientInfo1,
.clientName1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.clientName1 {
  flex: 1;
  flex-direction: column;
  padding: 18.8px 0 0;
}
.clientInfo1 {
  width: 220.5px;
  flex-direction: row;
  gap: 19.7px;
}
.ratingsIcon1 {
  width: 84.9px;
  height: 11.5px;
  position: relative;
}
.theScholarshipService1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs-5);
  line-height: 14.63px;
  font-family: var(--body-regular-body-3);
  color: var(--color-dimgray-100);
}
.client4,
.testimonial1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.client4 {
  align-self: stretch;
  box-shadow: -2.9px 5.1px 21.95px rgba(167, 177, 195, 0.15);
  border-radius: 17.56px;
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: 7.3px var(--padding-lgi);
  gap: 9.1px;
}
.testimonial1 {
  width: 278.8px;
  padding: var(--padding-8xs-2) 0 0;
  box-sizing: border-box;
}
.clientImageIcon1 {
  height: 50.3px;
  width: 50.3px;
  position: relative;
  border-radius: 14.63px;
  object-fit: cover;
}
.thabisoMolefe2 {
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.clientInfo2,
.clientName2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.clientName2 {
  flex-direction: column;
  padding: var(--padding-3xs-7) 0 0;
}
.clientInfo2 {
  flex-direction: row;
  gap: var(--gap-8xl-9);
}
.theScholarshipService2 {
  position: relative;
  font-size: var(--font-size-3xs-5);
  line-height: 15px;
  font-family: var(--body-regular-body-3);
  color: var(--color-dimgray-100);
}
.client2 {
  box-shadow: -2.9px 5.1px 21.95px rgba(167, 177, 195, 0.15);
  border-radius: 17.56px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-6) var(--padding-lgi) 49.8px;
  gap: var(--gap-5xs-9);
  flex-shrink: 0;
}
.testimonial2 {
  flex-direction: column;
  padding: var(--padding-6xs-6) var(--padding-5xs) 0 0;
  font-size: 13.2px;
}
.clientInfo3,
.clientName3,
.testimonial2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.clientName3 {
  flex: 1;
  flex-direction: column;
  padding: 10.6px 0 0;
}
.clientInfo3 {
  width: 204.2px;
  flex-direction: row;
  gap: 28px;
}
.theScholarshipService3 {
  margin: 0;
  width: 239.3px;
  position: relative;
  font-size: var(--font-size-3xs-5);
  line-height: 14.63px;
  font-family: var(--body-regular-body-3);
  color: var(--color-dimgray-100);
  display: inline-block;
}
.client6,
.testimonial3 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.client6 {
  align-self: stretch;
  box-shadow: -2.9px 5.1px 21.95px rgba(167, 177, 195, 0.15);
  border-radius: 17.56px;
  background-color: var(--color-gray-100);
  padding: 14.5px var(--padding-lgi) var(--padding-6xs-6);
  gap: var(--gap-5xs-9);
}
.testimonial3 {
  width: 283.2px;
  padding: var(--padding-8xs-2) 0 0;
  box-sizing: border-box;
}
.clientImageIcon3 {
  height: 50.3px;
  width: 50.3px;
  position: relative;
  border-radius: 14.63px;
  object-fit: cover;
  flex-shrink: 0;
}
.thabisoMolefe4 {
  align-self: stretch;
  position: relative;
  line-height: 19.02px;
  font-weight: 600;
  flex-shrink: 0;
}
.clientContainer,
.clientName4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.clientName4 {
  width: 125.9px;
  flex-direction: column;
  padding: 10.5px 0 0;
  flex-shrink: 0;
}
.clientContainer {
  width: 23.8px;
  flex-direction: row;
  padding: 0;
  gap: var(--gap-8xl-9);
}
.theScholarshipService4 {
  margin: 0;
  width: 239.3px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-3xs-5);
  line-height: 14.63px;
  font-family: var(--body-regular-body-3);
  color: var(--color-dimgray-100);
  display: inline-block;
}
.client3 {
  height: 157px;
  width: 283.2px;
  box-shadow: -2.9px 5.1px 21.95px rgba(167, 177, 195, 0.15);
  border-radius: 17.56px;
  background-color: var(--color-gray-100);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-6) var(--padding-lgi) 6.5px;
  box-sizing: border-box;
  gap: var(--gap-5xs-9);
}
.clientsTestmonies {
  width: 1312px;
  overflow-x: auto;
  flex-direction: row;
  padding: 10.3px var(--padding-6xs) 31.1px 35px;
  gap: 46.2px;
  text-align: left;
  font-size: var(--font-size-mini-6);
  color: var(--color-gray-200);
  font-family: var(--h5);
}
.cients,
.cientsWrapper,
.clientsTestmonies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.cients {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--neutral-silver);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-31xl);
}
.cientsWrapper {
  width: 1406.5px;
  flex-direction: row;
  padding: 0 var(--padding-28xl) var(--padding-8xl);
  text-align: center;
  font-size: var(--heading-headline-2-size);
  font-family: var(--body-regular-body-3);
}
.cientsWrapper,
.divine {
  color: var(--brand-primary);
}
.letNextcentDoContainer {
  width: 672.5px;
  position: relative;
  line-height: 47.71px;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.button1 {
  width: 188px;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.button1,
.footerContent,
.home,
.newsletter {
  display: flex;
  justify-content: flex-start;
}
.footerContent {
  flex: 1;
  background-color: var(--neutral-silver);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.home,
.newsletter {
  align-items: flex-start;
}
.newsletter {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-21xl-2);
  color: var(--neutral-black);
  font-family: var(--body-regular-body-3);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--default-white);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .navbar {
    gap: 168px;
  }
  .packages {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .frameParent {
    padding-bottom: var(--padding-42xl);
    box-sizing: border-box;
  }
  .destinationGrid {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-53xl);
    padding-right: var(--padding-53xl);
    box-sizing: border-box;
  }
  .cientsWrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .navbarInner {
    display: none;
  }
  .navbar {
    gap: 84px;
  }
  .sectionTitle {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .packages {
    gap: var(--gap-5xl);
  }
  .packagesWrapper {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: var(--gap-17xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .sectionTitle1 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .destinationGrid {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .destinationsYouShoudNotMis {
    padding-top: 48.5px;
    padding-bottom: 63px;
    box-sizing: border-box;
  }
  .sectionTitle2 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .clientsTestmonies {
    gap: var(--gap-4xl);
  }
  .cients {
    gap: var(--gap-6xl);
  }
  .letNextcentDoContainer {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
  .footerContent {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    gap: 42px;
  }
  .sectionTitle {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .frameParent {
    gap: 18px;
  }
  .sectionTitle1 {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .lesotho,
  .mscCruise,
  .thailand {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .sectionTitle2 {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .letNextcentDoContainer {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
}
